body {
    background-image: linear-gradient(#383D58, #00c0eb);
    color: white;
}

header {
    position: relative;
    height: 50px;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header div ul li {
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    list-style-type: none;
}


.logo-cabecalho {
    position: absolute;
    width: 40px;
    left: 80px;
    top: 5px;
}

.nome-cabecalho {
    position: absolute;
    width: 275px;
    left: 130px;
    top: 13px;
}

.plataformas-cabecalhos {
    position: absolute;
    width: 182px;
    left: 946px;
    top: 13px;
}

.sobre-cabecalho {
    position: absolute;
    width: 60px;
    left: 1162px;
    top: 13px;
}

.frente-escola {
    height: 500px;
    float: left;
    padding: 5px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
  }

  .galeria img {
    width: 100%;
    height: auto;
  }

.nome-alunos {
    padding: 0 0 0 0;
}

.fotoalunos{
    height: 400px;
    float: right;
    padding: 10px;
    border: transparent thin solid
}


/* Final */

footer {
    font-family: 'Bebas Neue';
    font-style: normal;
    background: #000000;
    color: rgb(255, 255, 255);
    height: 200px;
}

.rodape-informacoes {
    padding: 3% 0 0 5%;
}

.rodape-informacoes img {
    float: left;
    margin-right: 20px;
    height: 60px;
}

.rodape-informacoes  h1 {
    font-size: 25px;
}

.rodape-informacoes  p {
    font-size: 15px;
}