
.frente-escola {
    height: 500px;
    float: left;
    border: transparent thin solid;
    padding: 5px;
}

.escola-texto-um {
    
}

.texto-sobre {
    
}



.fotoalunos{
    height: 400px;
    float: right;
    padding: 10px;
    border: transparent thin solid
}

.nome-alunos {
    padding: 22% 0 0 0;
}
